<div class="nested-fields">
  <div class="field">
    <label for="task_description">Description</label>
    <input type="text" id="task_description" name="project[tasks_attributes][0][description]">
  </div>
  <div class="field">
    <input type="hidden" name="project[tasks_attributes][0][done]" value="0">
    <input type="checkbox" id="task_done" name="project[tasks_attributes][0][done]">
    <label for="task_done">Done</label>
  </div>
  <a href="#" class="btn btn-danger remove-task">Remove Task</a>
</div>
<hr>
